header {
  text-align: center;
  position: relative;
}
h1 {
  margin: 30px 10px 40px 10px;
}
h1 a {
  font-family: 'Tangerine';
  color: black;
  font-size: 5em;
  font-weight: bolder;
}

h3 {
  color: #2a2a2a;
  font-weight:bolder;
}

/*desktop*/
@media screen  and (min-width: 800px){
  .hamburger {
    display: none;
  }

  nav li {
    display: inline;
    font-size: 13px;
    color: #2a2a2a;
    border-top: #ccc 1px solid;
    border-bottom: #ccc 1px solid;
    padding: 7px 40px;
    margin: 0 50px;
    font-weight:bolder;
  }
}
/* landscape */
@@media (min-width: 700px) and (orientation: landscape) {

}
/* mobile */
@media screen and (max-width: 860px) {
    .hamburger {
      background:none;
      position: relative;
      /*text-align: center;*/
      float: right;
      top:0;
      right:0;
      line-height:45px;
      padding:5px 15px 0px 15px;
      color:black;
      border:0;
      font-size:70px;
      font-weight:lighter;
      cursor:pointer;
      outline:none;
      z-index:10000000000000;
    }

    nav ul {
      display: none;
      padding: 0;
      list-style: none;
      clear: both;
    }

    nav:hover ul {
      display: block;
    }
 }

nav li a:hover {
  color: #737373;
}
header a {
  text-decoration: none;
  color: black;
}
main {
  margin: 40px 0 10px 0;
}

main section {
  margin: 30px 10px;
}

figure {
  display: block;
  max-width: 900px;
  padding-top: 10px;
}

figure img {
  width: 100%;
}

.carousel {
  text-align: center;
}

.carousel-button {
  color: #000;
  background-color: #f1f1f1;
  padding: 8px 16px;
}

.carousel-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%,-50%);
}

.carousel-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, 50%);
}

section#skills {
  flex-wrap: nowrap;
  max-width: 900px;
  margin: 10px auto 30px;
}

section#skills li {
  display: inline;

}
.aboutme {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 900px;
  margin: 0 auto;
}

.aboutme article, .aboutme aside {
  max-width: 480px;
  border: #ccc 1px solid;
  padding: 20px;
  margin: 5px 10px 20px;
  font-family: inherit;
  color: black;
  text-align:left;
}

.aboutme aside {
  max-width:  296px; // 900px - 480px - 80px -40px - 4px;
}

article p, aside ul {
  font-size: 15px;
}

footer {
  clear: both;
	color: DarkSlateGray;
	font-size: 14px;
  opacity: 0.8;
  text-align: center;
  margin: 10px 0;
}

footer li {
  display: inline;
}

footer section{
  padding: 10px 30px;
  font-size: 30px;
  margin: 20px 0px 10px;
}
