header {
  text-align: center;
  position: relative;
}
h1 {
  margin: 30px 10px 40px 10px;
}
h1 a {
  font-family: 'Tangerine';
  color: black;
  font-size: 5em;
  font-weight:bolder;
}

/*desktop*/
@media screen  and (min-width: 800px){
.hamburger {display: none;}
nav li {
  display: inline;
  font-size: 13px;
  color: #2a2a2a;
  border-top: #ccc 1px solid;
  border-bottom: #ccc 1px solid;
  padding: 7px 40px;
  margin: 0 50px;
  font-weight:bolder;
  }
}
/* landscape */
@@media (min-width: 700px) and (orientation: landscape) {

}
/* mobile */
@media screen and (max-width: 860px) {
    .hamburger {
      background:none;
      position: relative;
      text-align: center;
      top:0;
      right:0;
      line-height:45px;
      padding:5px 15px 0px 15px;
      color:black;
      border:0;
      font-size:70px;
      font-weight:lighter;
      cursor:pointer;
      outline:none;
      z-index:10000000000000;
    }

 }

nav li a:hover {
  color: #737373;
}
header a {
  text-decoration: none;
  color: black;
}
main {
  text-align: center;
  margin: 40px 0 10px 0;
}
main section {
  margin: 50px;
}
figure {
  display: block;
  padding-top: 10px;
}

.carousel-button {
  color: #000;
  background-color: #f1f1f1;
  padding: 8px 16px;
}

.carousel-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%,-50%);
}

.carousel-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, 50%);
}

article {
  color: black;
  text-align:left;
  font-family: inherit;
  margin: 250px;
}
article h2 {
  font-size: 17px;
  font-weight:bolder;
}
article p {
  font-size: 15px;
}

footer li {
  display: inline;
}
aside {
  color: black;
  text-align:right;
  font-family: inherit;
  margin: 250px;
}
aside h2 {
  font-size: 17px;
  font-weight:bolder;
}

footer section{
  padding: 10px 30px;
  font-size: 30px;
  margin: 10px;
}
footer {
  clear: both;
	color: DarkSlateGray;
	font-size: 14px;
  opacity: 0.8;
  text-align: center;
  margin: 10px 0;
}

/* Mobile */
/*@media (max-width: 800px) {
  h1 {
    display: none;
  }

  nav ul {
    display: none;
  }
  nav::after {
    content: "Hamburger!";
  }
}*/
