/* landscape */
@@media (min-width: 700px) and (orientation: landscape) {

}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

@media only screen  and (min-width: 800px){
.hamburger {display: none;}

.main-nav:hover ul {
  display: inline;
}
.img {max-width: 100%;}

}
