h1 a {
  display: block;
  font: 'Tangerine', serif;
  text-decoration: none;
  color: black;
}

nav {
  display: grid;
  text-align: center;
}

main {
  text-align: center;
}

li.project a {
  text-decoration: none;
}

ul {
  list-style: none;
}

footer {
  clear: both;
	color: DarkSlateGray;
	font-size: 15px;
  opacity: 0.8;
  text-align: center;
}

/* Mobile */
/*@media (max-width: 800px) {
  h1 {
    display: none;
  }

  nav ul {
    display: none;
  }
  nav::after {
    content: "Hamburger!";
  }
}*/
