* {box-sizing:border-box}

header {
  text-align: center;
  position: relative;
}

header a {
  text-decoration: none;
  color: black;
}

h1 {
  margin: 20px 10px 40px 10px;
}
h1 a {
  font-family: 'Tangerine';
  color: black;
  font-size: 5em;
  font-weight: bolder;
}

main {
  max-width: 980px;
  margin: 50px auto 10px auto;
}

/*desktop*/
@media screen  and (min-width: 800px){
  .hamburger {
    display: none;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
  }

  nav li {
    display: inline;
    font-size: 13px;
    color: #2a2a2a;
    border-top: #ccc 1px solid;
    border-bottom: #ccc 1px solid;
    padding: 7px 0;
    width: 160px;
    font-weight:bolder;
  }
}
/* landscape */
@@media (min-width: 700px) and (orientation: landscape) {

}
/* mobile */
@media screen and (max-width: 799px) {
    h1 {
      margin-bottom: 5px;
    }

    main {
      margin-top: 15px;
    }

    .hamburger {
      position: absolute;
      right: 0;
      top: 0;
      z-index:100000000000;
      line-height:50px;
      padding:5px 15px 30px 15px;
      font-size:70px;
      cursor:pointer;
    }

    nav ul {
      display: none;
      padding: 0;
      clear: both;
    }

    nav:hover ul {
      display: block;
    }
 }

nav li a:hover {
  color: #737373;
}

.carousel {
  text-align: center;
  position: relative;
}

.carousel-left {
  left: 0%;
  border-radius: 0 5px 5px 0;
}

.carousel-right {
  right: 0%;
  border-radius: 5px 0 0 5px;
}

.carousel a.carousel-button {
 top: calc(50% - 25px);
 cursor: pointer;
 position: absolute;
 margin: auto 0;
 color: white;
 font-weight:lighter;
 font-size: 30px;
 transition: 0.6s ease;
 padding: 10px 12px;
}

.carousel a.carousel-button:hover {
  background-color: #f1f1f1;
  opacity: 0.6;
}

.project img {
  width: 100%;
  max-height: 550px;
}

.project figcaption {
  color: black;
  font-size: 20px;
  margin: -40px auto 40px;
  width: 60%;
  padding: 5px 0;
  background-color: #DDD;
  opacity: .8;
}

span li {
  display: inline;
}

h3 {
  color: #2a2a2a;
  font-weight: bolder;
  margin-bottom: 10px;
  text-align: center;
  font-size: 17px;
}

.tab.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 15px;
  margin-top:50px;
  margin-bottom: 50px;
}

article {
  border: #ccc 1px solid;
  padding: 20px;
  border-radius: 10px;
  max-width: 420px;
  font-family: inherit;
  color: black;
}

aside {
  max-width: 540px;
}

.bookshelf {
  border: #ccc 1px solid;
  border-radius: 10px;
  padding: 20px;
}

.bookshelf p {
  font-style: oblique;
  text-align: center;
}

 #books {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  margin: 20px auto 0px auto;
}

#books img {
  width: 100px;
  height: 120px;
}

time {
 display: block;
 font-style: oblique;
 padding-left: 30px;
  }

.books ul {
  display: inline-block;
  font-style: oblique;
  /*padding-left: 30px;*/
}

.map {
  margin-top: 20px;
}

#mapdiv {
  width: 500px;
  height: 300px;
  text-align: center;
  padding-top: 7px;
}

.tab.contact {
  font-size: 35px;
  text-align: center;
  font-style: italic;
  /*padding-bottom: 30px;*/
}

footer {
  clear: both;
	color: DarkSlateGray;
	font-size: 14px;
  opacity: 0.8;
  text-align: center;
  margin: 30px 0;
}

footer li {
  display: inline;
}

footer section{
  padding: 10px 30px;
  font-size: 30px;
  margin: 20px 0px 10px;
}
